@model ErieGarbage.Models.Customer

@{
    ViewBag.Title = "Customer Portal";
    Layout = "_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table style="width:100%; text-align: center;">
    <tr>
        <th colspan="7" style="text-align: center">PickupTimes</th>
    </tr>
    <tr>
        <th style="text-align: center;">Monday</th>
        <th style="text-align: center;">Tuesday</th> 
        <th style="text-align: center">Wednesday</th>
        <th style="text-align: center;">Thursday</th>
        <th style="text-align: center;">Friday</th>
        <th style="text-align: center;">Saturday</th>
        <th style="text-align: center;">Sunday</th>
    </tr>
    @if (@Model.GetPickupTime() != null)
    {
        <tr>
            <td>@Model.GetPickupTime().Monday</td>
            <td>@Model.GetPickupTime().Tuesday</td>
            <td>@Model.GetPickupTime().Wednesday</td>
            <td>@Model.GetPickupTime().Thursday</td>
            <td>@Model.GetPickupTime().Friday</td>
            <td>@Model.GetPickupTime().Saturday</td>
            <td>@Model.GetPickupTime().Sunday</td>
        </tr>
    } else
    {
        <tr>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
    }
</table>