@model ErieGarbage.Models.Customer

@{
    ViewBag.Title = "Profile";
    Layout = "_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Profile", "Customer", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.ProfileForm.Account, new
    {
        placeholder = "Account ID",
        autofocus = true,
        type = "text",
        @readonly = true,
    })
    <br>
    @Html.TextBoxFor(m => m.ProfileForm.Email, new
    {
        placeholder = "Email Address",
        type = "text",
        pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$",
        title = "Invalid Email Address.",
        required = true,
    })
    <br>
    @Html.TextBoxFor(m => m.ProfileForm.FirstName, new
    {
        placeholder = "First Name",
        type = "text",
        required = true,
    })
    <br>
    @Html.TextBoxFor(m => m.ProfileForm.MiddleName, new
    {
        placeholder = "Middle Name",
        type = "text",
        required = true,
    })
    <br>
    @Html.TextBoxFor(m => m.ProfileForm.LastName, new
    {
        placeholder = "Last Name",
        type = "text",
        required = true,
    })
    <br>
    @Html.TextBoxFor(m => m.ProfileForm.Street, new
    {
        placeholder = "Street Address",
        type = "text",
        required = true,
    })
    <br>
    @Html.TextBoxFor(m => m.ProfileForm.PhoneNumber, new
    {
        placeholder = "Phone Number",
        type = "text",
        required = true,
    })
    <br>
    @Html.TextBoxFor(m => m.ProfileForm.Password, new
    {
        placeholder = "Password",
        type = "password",
        pattern = "^((?=.*\\d)(?=.*[A-Z])(?=.*(_|\\W))(?!.*\\s).{8,50})$",
        title = "Password should contain at least one lowercase letter, uppercase letter, number, a special character, and be at least 8 characters long.",
    })

    @Html.TextBoxFor(m => m.ProfileForm.ConfirmPassword, new
    {
        placeholder = "Password",
        type = "password",
        pattern = "^((?=.*\\d)(?=.*[A-Z])(?=.*(_|\\W))(?!.*\\s).{8,50})$",
        title = "Password should contain at least one lowercase letter, uppercase letter, number, a special character, and be at least 8 characters long.",
    })
    <br>
    if (!string.IsNullOrEmpty(Model.ProfileForm.Error))
    {
        @(Model.ProfileForm.Error)
        @:<br/>
    }
    <input type="submit">
}
